body{

    background-position:center;
    background-size:cover;
}

a{

    font: size 20px, important !important;
    width:400px;
    border-radius:30px, important !important;
    background-color: lightpink;
    color:white;
}